body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: rgba(66,66,66,1);
    background: -moz-linear-gradient(left, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 28%, rgba(107,102,107,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(66,66,66,1)), color-stop(28%, rgba(66,66,66,1)), color-stop(100%, rgba(107,102,107,1)));
    background: -webkit-linear-gradient(left, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 28%, rgba(107,102,107,1) 100%);
    background: -o-linear-gradient(left, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 28%, rgba(107,102,107,1) 100%);
    background: -ms-linear-gradient(left, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 28%, rgba(107,102,107,1) 100%);
    background: linear-gradient(to right, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 28%, rgba(107,102,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#6b666b', GradientType=1 );
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

